@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientborders {
  animation: 5s rotate linear infinite;
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #12c2e9, #c471ed, #f64f59);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.border {
  border-top: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  border-bottom: 0.3rem solid;
  border-image: linear-gradient(var(--angle), #12c2e9, #c471ed, #f64f59) 1;
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
